<!DOCTYPE html>
<html>
<head lang="en">
    <title>笔记本</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <div class="nav">
        <h3>笔记本</h3>
        <ul class="nav-list">
            <% data.forEach(function(item, index) { %>
            <li id="<%= item.get('categoryId') %>"
                class="<%= index == 0 ? 'nav-active' : '' %>"><%= item.get('name') + '（' + item.get('count') + "）" %></li>
            <% }) %>
        </ul>
        <div class="type-create">+</div>
        <div class="type-del"></div>
    </div>
    <div class="note">
        <div class="note-head">
            <h3>笔记</h3>
            <a class="note-create">新建笔记</a>
        </div>
        <ul class="note-list">
        </ul>
    </div>
    <div class="content">
        <h3>图片排版与字体排版</h3>

        <div class="content-wrap">

            <input type="text" class="content-title" placeholder="无标题">
            <textarea class="content-inner" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
<!--<script src="/javascript/marked.min.js"></script>-->
<!--<script src="/javascript/jquery-2.1.4.min.js"></script>-->
<!--&lt;!&ndash;<script src="/javascript/common.js"></script>&ndash;&gt;-->
<!--<script src="/javascript/main2.js"></script>-->
<script data-main="/javascript/main2" src="/javascript/require.js"></script>
</body>
</html>
