<!DOCTYPE html>
<html>
<head lang="en">
    <title>笔记本</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="nav">
        <h3>笔记本</h3>
        <ul class="nav-list">
            <% data.forEach(function(item) { %>
            <li class="category<%= item.get('categoryId') %>"><%= item.get('name') + '（' + item.get('count') + "）" %></li>
            <% }) %>
        </ul>
    </div>
    <div class="note">
        <div class="note-head">
            <h3>笔记</h3>
            <a class="note-create">新建笔记</a>
        </div>
        <ul class="note-list">
            <li class="note-wrap note-active">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生的发生的，发AEFSDF
                    SFASFDSD FSDF SD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代上地方，时代发生的发生的，发AEFSDFSF
                    ASFDSDFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3>图片排版与字体排版</h3>

        <div class="content-wrap"># Marked in browser\n\nRendered by **marked**.</div>
        <!--<textarea id="edit" cols="30" rows="10"></textarea>-->
    </div>
</div>
<script src="/javascript/jquery-2.1.4.min.js"></script>
<script src="/javascript/marked.min.js"></script>
<!--<script src="/javascript/common.js"></script>-->
<!--<script src="/javascript/main.js"></script>-->

<script>
    $(function() {
        var $content = $('.content-wrap');
        $content.html(marked('# Marked in browser\n\nRendered by **marked**.'));

        navInit();
        function navInit(){
            var categoryId = $('.nav-list').className ;
            console.log(categoryId)
        }



//        $.ajax({
//            url:'notes'
//        })

//        var data = [];
//        var article = {
//            type: 1,
//            title: '图片排版与字体排版',
//            content: '# Marked in browser\n\nRendered by **marked**.'
//        };
//        data.push(article);
////    //        保存起来，供下次使用
//        if (localStorage.length == 0) {
//            localStorage.setItem('data', JSON.stringify(data));
//        } else {
//            var tempData = JSON.parse(localStorage.getItem('data'));
//            tempData.push(article);
//            localStorage.setItem('data', JSON.stringify(tempData))
//        }
//        var haha = JSON.parse(localStorage.getItem('data'));
//        console.log(haha.length)
    })
</script>
</body>
</html>
