<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Marked in the browser</title>
</head>
<body>
<div id="content">ss</div>
<textarea name="" id="edit" cols="30" rows="10">开源中国社区</textarea>
<a href="" id="click"> 转换 </a>
<script src="../public/javascript/marked.min.js"></script>
<script src="../public/javascript/jquery-2.1.4.min.js"></script>
<script>
var $content = $('#content'),
        $edit = $('#edit');
$('#click').on('click',function(e){
    e.preventDefault();
    $content.html(marked($edit.val()));
})
</script>
</body>
</html>