<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="UTF-8">-->
    <title>属于你的云笔记</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='shortcut icon' href="images/pen.png">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="nav">
        <h3>笔记本</h3>

        <div class="cate-box"></div>
        <!--<ul class="nav-list">-->
            <!--<li class="nav-active">设计（<span>78</span>）</li>-->
            <!--<li>呵呵（<span>2</span>）</li>-->
            <!--<li>哈哈（<span>22</span>）</li>-->
            <!--<li>哈哈（<span>12</span>）</li>-->
            <!--<li>哈哈（<span>234</span>）</li>-->
            <!--<li>哈哈（<span>4</span>）</li>-->
        <!--</ul>-->
        <div class="type-create">+</div>
        <div class="type-del"></div>
    </div>
    <div class="note">
        <div class="note-head">
            <h3>笔记</h3>
            <a class="note-create">新建笔记</a>
        </div>
        <ul class="note-list">
            <li class="note-wrap note-active">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生的发生的，发AEFSDF
                    SFASFDSD FSDF SD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代上地方，时代发生的发生的，发AEFSDFSF
                    ASFDSDFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格风格的风格大方，士大夫沙的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDFSFASFDSDFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格v风格的风格大方，士大夫沙的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDFSFASFDSDFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDF SFASFDS DFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSD,FSFA,,SFDSDF,SDFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFD,SDFS,DFSD
                    SDFSDFSASDF
                </p>
            </li>
            <li class="note-wrap">
                <p class="note-title">图片排版与字体排版</p>

                <p class="note-content">
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3>图片排版与字体排版</h3>

        <div class="content-wrap">
            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>

            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>
            <ul>
                <li>设计（23）</li>
                <li>哈哈（2）</li>
                <li>哈哈（22）</li>
                <li>哈哈（12）</li>
                <li>哈哈（234）</li>
                <li>哈哈（2）</li>
            </ul>
            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>

            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>
            <ul>
                <li>设计（23）</li>
                <li>哈哈（2）</li>
                <li>哈哈（22）</li>
                <li>哈哈（12）</li>
                <li>哈哈（234）</li>
                <li>哈哈（2）</li>
            </ul>
            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>

            <p>
                啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                SDFSDFSASDF
            </p>
            <br>
            <ul>
                <li>设计（23）</li>
                <li>哈哈（2）</li>
                <li>哈哈（22）</li>
                <li>哈哈（12）</li>
                <li>哈哈（234）</li>
                <li>哈哈（2）</li>
            </ul>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
