<!DOCTYPE html>
<html>
  <head>
    <title>笔记本</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <style>
      </style>
  </head>
  <body>
    <div class="container">
        <div class="nav">
            <h3>笔记本</h3>
            <ul class="nav-list">
                <li class="nav-active">设计（23）</li>
                <li>哈哈（2）</li>
                <li>哈哈（22）</li>
                <li>哈哈（12）</li>
                <li>哈哈（234）</li>
                <li>哈哈t（2）</li>
            </ul>
        </div>
        <div class="note">
            <div class="note-head">
                <h3>笔记</h3>
                <a class="note-create">新建笔记</a>
            </div>
            <ul class="note-list">
                <li class="note-wrap note-active">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生的发生的，发AEFSDF SFASFDSD FSDF SD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代上地方，时代发生的发生的，发AEFSDFSF ASFDSDFSDFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格风格的风格大方，士大夫沙的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDFSFASFDSDFSDFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格v风格的风格大方，士大夫沙的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDFSFASFDSDFSDFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSDF SFASFDS DFSDFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFSD,FSFA,,SFDSDF,SDFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFD,SDFS,DFSD
                        SDFSDFSASDF
                    </p>
                </li>
                <li class="note-wrap">
                    <p class="note-title">图片排版与字体排版</p>
                    <p class="note-content">
                        啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                        SDFSDFSASDF
                    </p>
                </li>
            </ul>
        </div>
        <div class="content" >
            <h3>图片排版与字体排版</h3>
            <div class="content-wrap">
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <ul>
                    <li>设计（23）</li>
                    <li>哈哈（2）</li>
                    <li>哈哈（22）</li>
                    <li>哈哈（12）</li>
                    <li>哈哈（234）</li>
                    <li>哈哈（2）</li>
                </ul>
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <ul>
                    <li>设计（23）</li>
                    <li>哈哈（2）</li>
                    <li>哈哈（22）</li>
                    <li>哈哈（12）</li>
                    <li>哈哈（234）</li>
                    <li>哈哈（2）</li>
                </ul>
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <p>
                    啊哈哈哈阿飞嘎嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代发生嘎是，的风格的风格的风格大方，士大夫沙发上地方，时代的发生的，发AEFS,DFSFASFDS,DFSDFSD
                    SDFSDFSASDF
                </p>
                <br>
                <ul>
                    <li>设计（23）</li>
                    <li>哈哈（2）</li>
                    <li>哈哈（22）</li>
                    <li>哈哈（12）</li>
                    <li>哈哈（234）</li>
                    <li>哈哈（2）</li>
                </ul>
            </div>
        </div>
    </div>

    <script>

        //            '设计':{
        //                '图片排版dfg与字体排版':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图片排版dfg与字体排版2':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图片排版与字h体排版3':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。"
        //            },
        //            'html5':{
        //                '图片排版与dfg字体排版':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图片排版与字体排版2':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图片排版与dgdfg字体排版3':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。"
        //            },
        //            '体育锻炼':{
        //                '图片排版与版':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图片排版体排版2':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。",
        //                '图版与字排版3':"它是同步的。不管数据多大，我们需要等待数据从磁盘读取和解析，这会减慢我们的应用程序的响应速度。这在移动设备上是特别糟糕的，主线程被挂起，直到数据被取出，会使你的应用程序看起来慢，甚至没有反应。它仅支持字符串。需要使用 JSON.parse 与 JSON.stringify 进行序列号和反序列化。这是因为 localStorage 中仅支持 JavaScript 字符串值。不支持数值，布尔值，Blob 类型的数据。"
        //            }
        // 保存起来，供下次使用
//        localStorage.setItem('data', JSON.stringify(data));
//
//        // 从离线存储中读取出来
//        var redata = JSON.parse(localStorage.getItem('data'));
//        console.log(redata);
    </script>
  </body>
</html>
